* {
    font-family: 'Unbounded', cursive;
    padding: 0;
    margin: 0;
}

:root {
    --darkest-color: #262626;
    --brightest-color: #F6F6F6;
    --color-red: #FF595E;
    --color-yellow: #FFCA3A;
    --color-green: #8AC926;
    --color-blue: #1982C4;
  
}

/* PC version */

/* Styles for the header and the elements that contains*/

#header {
    background-color: var(--darkest-color);
    max-width: 1920px;
    height: 100vh;
    display: flex;
    
    
}

#SunHeaderImageContainer {
    background-image: url(./Imgs/NASA_SunPhoto.png);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    height: 100vh;
    width: 50%;
}

/* Styles for the rainbows */

.rainbowHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 43.2%;
    width: 10em;
    height: 100vh;
    z-index: 2;
}

.colorBar {
    width: 2%;
    margin: 0.2em;
    height: 100vh;
    animation-name: rainbowGrow;
    animation-duration: 3000ms;
}

@keyframes rainbowGrow {
    from {
        height: 0;
    }

    to {
        height: 100vh;
    }
}

#colorRed {
    background-color: #FF595E;
}

#colorYellow {
    background-color: #FFCA3A;
}

#colorGreen {
    background-color: #8AC926;
}

#colorBlue {
    background-color: #1982C4;
}

#colorPurple {
    background-color: #6A4C93;
}

/* Style for the text*/

#headerPrincipalTextContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 3;
    margin: 16em 0em 0em 5.5em;
}

#headerSubtitle {
    font-weight: 400;
    font-size: 2.43vw;
    margin: 0 0 0 0;
}

#headerTitle {
    color: var(--brightest-color);
    font-weight: 800;
    font-size: 4vw;
}

#headerParagraph {
    color: var(--brightest-color);
    font-weight: 300;
    font-size: 1.6vw;
    width: 20em;
    

}

/*Section classes*/

.sectionTitle {
    font-weight: 800;
    font-size: 3em;
    
}

.sectionSubtitle {
    color: var(--brightest-color);
    font-size: 1.55em;
    font-weight: 300;
    
}


.sectionButton {
    width: 15em;
    height: 3.5em;
    margin-top: 2em;

    font-size: 1em;
    font-weight: 600;

    cursor: pointer;
    border-radius: 8px;
}

.rowCall {
    min-height: 20em;
    width: 100%;
    
}


/* Styles for the instruction section and the elements that contains*/
#instructionSection {
    padding: 5.5em 5.5em 0 5.5em;
    background-color: var(--darkest-color);
    max-width: 80em;
    
}

#instructionTitle {
    color: var(--color-red);

}

#detailInstructionContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}

/* Styles for the Call to Action section and the elements that contains*/

#callToActionSection {
    padding: 5.5em 5.5em 0 5.5em;
    background-color: var(--darkest-color);
    max-width: 80em;
}

#callTitle {
    color: var(--color-yellow);
}

#gridCallToAction {
    display: flex;
    flex-direction: row;
}

#callToActionDescription {
    margin-top: 2em;
    max-width: 34em;
    font-weight: 400;
}

#callToActionButton {
    background-color: var(--darkest-color);
    color: white;
    border: 0.1em solid #FFCA3A;
    transition: all 300ms;
}

#callToActionButton:hover {
    background-color: var(--color-yellow);
    color: var(--darkest-color);
    border: 0;
    transition: all 300ms;
}

#gridCallToAction {
    display: flex;
    flex-wrap: wrap;
}

/* Tablet Version */

@media (max-width: 950px) {

    /* Styles for the header and the elements that contains*/

    #header {
        background-color: black;
        width: 100%;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #SunHeaderImageContainer {
        background-image: url(./src/assets/Imgs/NASA_SunPhoto.png);
        background-size: cover;
        opacity: 0.7;
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
    }

    /* Styles for the rainbows */

    .rainbowHeader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top: 0;
        left: auto;
        width: 6em;
        height: 103vh;
        z-index: 2;
    }

    #rainbowTwo {
        top: 60vh;
        height: 3%;
    }

    .colorBar {
        width: 7%;
        margin: 0.1em;
        height: 103vh;
    }

    #colorRed {
        background-color: #FF595E;
    }

    #colorYellow {
        background-color: #FFCA3A;
    }

    #colorGreen {
        background-color: #8AC926;
    }

    #colorBlue {
        background-color: #1982C4;
    }

    #colorPurple {
        background-color: #6A4C93;
    }

    /* Style for the text*/

    #headerPrincipalTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        z-index: 2;
        margin: -5em 0 0 0;
    }

    #headerSubtitle {
        font-weight: 400;
        font-size: 4.7vw;
        margin: 0 0 -0.5em 0;
    }

    #headerTitle {
        color: var(--brightest-color);
        font-weight: 800;
        font-size: 10.55vw;
    }

    #headerParagraph {
        color: var(--brightest-color);
        font-weight: 300;
        font-size: 3.5vw;
        width: 81%;
        text-align: center;
        

    }

    /* Styles for the instruction section and the elements that contains*/
    #instructionSection {
        padding: 1em;
        background-color: var(--darkest-color);
        
    }

    .sectionTitle {
        font-weight: 800;
        font-size: 2em;
        
    }

    #instructionTitle {
        color: var(--color-red);
    }

    .sectionSubtitle {
        color: var(--brightest-color);
        font-size: 1em;
        font-weight: 300;
        
    }

    #detailInstructionContainer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2em;
    }

    /* Styles for the Call to Action section and the elements that contains*/

    #callToActionSection {
        padding: 5.5em 5.5em 0 1em;
        background-color: var(--darkest-color);
        max-width: 90em;
    }

    #callTitle {
        color: var(--color-yellow);
    }

    #gridCallToAction {
        display: flex;
        flex-direction: row;
    }

    #callToActionDescription {
        margin-top: 2em;
        width: 20.8em;
        font-weight: 400;
    }

    #callToActionButton {
        background-color: var(--darkest-color);
        color: white;
        border: 0.1em solid #FFCA3A;
        transition: all 300ms;
    }

    #callToActionButton:hover {
        background-color: var(--color-yellow);
        color: var(--darkest-color);
        border: 0;
        transition: all 300ms;
    }

    #gridCallToAction {
        display: flex;
        flex-wrap: wrap;
    }

    
}


/* Mobile version */

@media (max-width: 540px) {

    /* Styles for the header and the elements that contains*/

    #header {
        background-color: black;
        width: 100%;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #SunHeaderImageContainer {
        background-image: url(./src/assets/Imgs/NASA_SunPhoto.png);
        background-size: cover;
        opacity: 0.7;
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
    }

    /* Styles for the rainbows */

    .rainbowHeader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top: 0;
        left: auto;
        width: 6em;
        height: 103vh;
        z-index: 2;
    }

    #rainbowTwo {
        top: 60vh;
        height: 3%;
    }

    .colorBar {
        width: 7%;
        margin: 0.1em;
        height: 103vh;
    }

    #colorRed {
        background-color: #FF595E;
    }

    #colorYellow {
        background-color: #FFCA3A;
    }

    #colorGreen {
        background-color: #8AC926;
    }

    #colorBlue {
        background-color: #1982C4;
    }

    #colorPurple {
        background-color: #6A4C93;
    }

    /* Style for the text*/

    #headerPrincipalTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        z-index: 2;
        margin: -5em 0 0 0;
    }

    #headerSubtitle {
        font-weight: 400;
        font-size: 4.7vw;
        margin: 0 0 -0.5em 0;
    }

    #headerTitle {
        color: var(--brightest-color);
        font-weight: 800;
        font-size: 10.55vw;
    }

    #headerParagraph {
        color: var(--brightest-color);
        font-weight: 300;
        font-size: 3.5vw;
        width: 81%;
        text-align: center;
        

    }

    /* Styles for the instruction section and the elements that contains*/
    #instructionSection {
        padding: 1em;
        background-color: var(--darkest-color);
        
    }

    .sectionTitle {
        font-weight: 800;
        font-size: 2em;
        
    }

    #instructionTitle {
        color: var(--color-red);
    }

    .sectionSubtitle {
        color: var(--brightest-color);
        font-size: 1em;
        font-weight: 300;
        
    }

    #detailInstructionContainer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2em;
    }

    /* Styles for the Call to Action section and the elements that contains*/

    #callToActionSection {
        padding: 5.5em 5.5em 0 1em;
        background-color: var(--darkest-color);
        max-width: 90em;
    }

    #callTitle {
        color: var(--color-yellow);
    }

    #gridCallToAction {
        display: flex;
        flex-direction: row;
    }

    #callToActionDescription {
        margin-top: 2em;
        width: 20.8em;
        font-weight: 400;
    }

    #callToActionButton {
        background-color: var(--darkest-color);
        color: white;
        border: 0.1em solid #FFCA3A;
        transition: all 300ms;
    }

    #callToActionButton:hover {
        background-color: var(--color-yellow);
        color: var(--darkest-color);
        border: 0;
        transition: all 300ms;
    }

    #gridCallToAction {
        display: flex;
        flex-wrap: wrap;
    }

}
