#analyzerPrincipalContainer {
    display: flex;
    position: relative;
    width: 100%;
    color: white;
}

#analyzerInfoContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0 2em 0 2em;
}

#numIndicator {
    position: absolute;
    font-size: 30rem;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    z-index: 0;
}

#displayImage {
    position: relative;
    width: 100%;
    max-width: 512px;
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.75rem;
    z-index: 10;
  }

#sendAlertContainer {
    /*The background color of this container is defined in the jsx code of the component*/
    position: absolute;
    width: fit-content;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 0.5em;
    border-radius: 0.25rem;
}

#analyzerTitleContainer {
    display: flex;
    height: 60%;
}

#analyzerTitle {
    max-width: 80%;
    font-size: 2.25rem;
    z-index: 10;
}

#analyzerDescriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 40%;
}

#analyzerParagraph {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 1em 0 1em 0;
    max-width: 70%;
    z-index: 10;
    color: var(--brightest-color);
    text-shadow: -1px -1px 0 var(--darkest-color), 1px -1px 0 var(--darkest-color), -1px 1px 0 var(--darkest-color), 1px 1px 0 var(--darkest-color);
}

.analyzerCoord {
    font-size: 1.25rem;
    z-index: 10;
}

/*Media screen for 1280px displays*/
@media screen and (max-width: 1380px) {
    #numIndicator {
        font-size: 20rem;
    }

    #analyzerTitle {
        max-width: 100%;
        font-size: 1.875rem;
    }

    #analyzerParagraph {
        font-size: 1rem;
        line-height: 1.5rem;
        max-width: 90%;
    }

    .analyzerCoord {
        font-size: 1.125rem;
        z-index: 10;
    }
}

/*Media screen for 1024px displays*/
@media screen and (max-width: 1280px) {
    #analyzerInfoContainer {
        flex-direction: column;
        padding: 0 1em 0 1em;
    }

    #numIndicator {
        font-size: 20rem;
    }

    #analyzerTitle {
        max-width: 100%;
        font-size: 1.5rem;
    }

    #analyzerParagraph {
        font-size: 0.875rem;
        line-height: 1.25rem;
        max-width: 100%;
    }

    .analyzerCoord {
        font-size: 1rem;
        z-index: 10;
    }
}

/*Media screen for 768px displays*/
@media screen and (max-width: 768px) {
    #analyzerPrincipalContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    #analyzerInfoContainer {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 0;
    }

    #numIndicator {
        position: absolute;
        font-size: 20rem;
        top: 0%;
        right: 0%;
        transform: translateY(-18%);
        z-index: 0;
    }

    #displayImage {
        position: relative;
        max-width: 100%;
        border-radius: 0.75rem;
        z-index: 10;
    }

    #analyzerInfoContainer {
        flex-direction: column;
        padding: 1em 0 1em 0;
    }

    #analyzerTitle {
        max-width: 100%;
        font-size: 1.5rem;
    }

    #analyzerParagraph {
        font-size: 0.875rem;
        line-height: 1.25rem;
        max-width: 100%;
    }

    .analyzerCoord {
        font-size: 1rem;
        z-index: 10;
    }
}

/*Media screen for 768px displays*/
@media (max-width: 640px) {
    #analyzerPrincipalContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    #analyzerInfoContainer {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 0;
    }

    #numIndicator {
        position: absolute;
        font-size: 20rem;
        top: 0%;
        right: 0%;
        transform: translateY(-18%);
        z-index: 0;
    }

    #displayImage {
        position: relative;
        max-width: 300px !important;
        border-radius: 0.75rem;
        z-index: 10;
    }

    #analyzerInfoContainer {
        flex-direction: column;
        padding: 1em 0 1em 0;
    }

    #analyzerTitle {
        max-width: 100%;
        font-size: 1.5rem;
    }

    #analyzerParagraph {
        font-size: 0.875rem;
        line-height: 1.25rem;
        max-width: 100%;
    }

    .analyzerCoord {
        font-size: 1rem;
        z-index: 10;
    }
}
