:root {
    --darkest-color: #262626;
    --brightest-color: #F6F6F6;
    --color-red: #FF595E;
    --color-yellow: #FFCA3A;
    --color-green: #8AC926;
    --color-blue: #1982C4;
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#DetailResult {
    width: 100%;
    height: 30vh;
    margin: 0 0em 0 0;
    border-radius: 10px;
    border: 2px solid #4D4D4D;
}

.refImageContainer {
    width: 100%;
    height: 10%;
    background-color: #4D4D4D;
    color: var(--brightest-color);
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailParagraph {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.textDetail {
    color: var(--brightest-color);
    font-weight: normal;
    margin-bottom: 0.5em;
}

@media (max-width: 1000px) {
    #DetailResult {
        width: 98%;
        height: 30vh;
        margin: 0.5em 1em 0.5em 0;
        border: 2px solid white;
        border-radius: 10px;
    }
}

@media (max-width: 850px) {
    #DetailResult {
        width: 98%;
        height: 100%;
        margin: 0.5em 1em 0.5em 0;
        border: 2px solid #525252;
        border-radius: 10px;
    }

    .refImageTitle {
        font-size:4vw;
        font-weight: bold;
        width: 40vw;
        margin: 2vw 1vw 5vw 1.5vw;
    }
}
