:root {
    --darkest-color: #262626;
    --brightest-color: #F6F6F6;
    --color-red: #FF595E;
    --color-yellow: #FFCA3A;
    --color-green: #8AC926;
    --color-blue: #1982C4;
  
}

#AppNavbar {

    background-color: rgba(246, 246, 246, 0.1);
    backdrop-filter: blur(3px);

    position: absolute;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 90vh;
    left: 40vw;
    z-index: 6;

    width: 20vw;
    height: 3em;
    display: flex;

    border-radius: 5px;
    
}

/* Styles for the buttons of the Navbars */

.linkButton {
    width: 20%;
    height: 99%;
    color: white;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 5px;

    cursor: pointer;
    transition: all 200ms;
    
}

.linkButton:hover {
    width: 40%;
    transition: all 200ms;
    font-size: 1.2em;
}

#linkDate:hover {
    background-color: var(--brightest-color);
    color: var(--darkest-color);
}

#linkOne:hover {
    background-color: var(--color-red);
}

#linkTwo:hover {
    background-color: var(--color-yellow);
}

#linkThree:hover {
    background-color: var(--color-green);
}

#linkFour:hover {
    background-color: var(--color-blue);
}

#linkFive:hover {
    background-color: #6A4C93;
}

@media (max-width: 1000px) {
    #AppNavbar {

        background-color: rgba(246, 246, 246, 0.1);
        backdrop-filter: blur(3px);
    
        position: absolute;
        position: sticky;
        position: -webkit-sticky; /* Safari */
        top: 90vh;
        left: 30vw;
        z-index: 6;
    
        width: 40vw;
        height: 5vh;
        display: flex;
    
        border-radius: 5px;
        
    }
}

@media (max-width: 600px){
    #AppNavbar {

        display: none;
        
    }
}
