:root {
  --darkest-color: #262626;
  --brightest-color: #f6f6f6;
  --color-red: #ff595e;
  --color-yellow: #ffca3a;
  --color-green: #8ac926;
  --color-blue: #1982c4;
}

body {
  width: 100%;
}

.principal-container {
  height: fit-content;
  background-color: var(--darkest-color);
  padding: 5vh 6vw 5vh 6vw;
  margin-bottom: 8em;
}

.pointer {
  width: 5px;
  height: 5px;
  background-color: red;
}


.detailsContainer {
  margin: 0vh 0 0 4vh;
  z-index: 2;
}

/* Styles for the sender button */
.sender {
  background-color: var(--darkest-color);
  color: var(--brightest-color);
  padding: 1em 4.8em 1em 0;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;

  margin-top: 2vh;
  transition: all 300ms;
}

.sender:hover {
  background-color: var(--brightest-color);
  color: var(--darkest-color);
  padding: 1em 4.8em 1em 4.8em;
  border-radius: 5px;
  outline: 1.5px solid var(--brightest-color);

  margin-top: 2vh;
  transition: 300ms;
}

/* Styles for the "main" scrollbar */
body::-webkit-scrollbar {
  width: 0.5vw;
  background-color: #1c1c1c;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--brightest-color);
  border-radius: 50px;
}


