:root {
    --darkest-color: #262626;
    --brightest-color: #F6F6F6;
    --color-red: #FF595E;
    --color-yellow: #FFCA3A;
    --color-green: #8AC926;
    --color-blue: #1982C4;
  
}

#instructionComponent {
    display: flex;
    flex-direction: row;
    margin: 2em;
    width: 100%;
}

#numberInstruction {
    font-size: 2.5vw;
    font-weight: 800;
    margin-right: 0.2em;
}

#titleInstruction {
    font-weight: 600;
    font-size: 1.2vw;
    color: var(--brightest-color);
}

#detailInstruction {
    color: var(--brightest-color);
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin: 1em 0 1em 0;
}


a {
    text-decoration: none;
    color: white;
}


span > a{
    color: #1982C4;
    text-decoration: none;
    text-decoration:underline;
    font-weight: 600;
}

/* Tablet version */

@media (max-width: 900px) {

    #instructionComponent {
        display: flex;
        flex-direction: row;
        margin: 1em 0 1em 0;
        width: 100%;
    }

    #numberInstruction {
        font-size: 3em;
        font-weight: 800;
        margin-right: 0.2em;
    }

    #deInstructionContainer {
        width: 80%;
    }

    #titleInstruction {
        font-weight: 600;
        font-size: 1.2em;
        color: var(--brightest-color);
    }

    #detailInstruction {
        color: var(--brightest-color);
        font-weight: 300;
        font-size: 1.1em;
        margin: 1em 0 1em 0;
    }
}

/* Mobile version */

@media (max-width: 540px) {

    #instructionComponent {
        display: flex;
        flex-direction: row;
        margin: 1em 0 1em 0;
        width: 100%;
    }

    #numberInstruction {
        font-size: 2em;
        font-weight: 800;
        margin-right: 0.2em;
    }

    #deInstructionContainer {
        width: 80%;
    }

    #titleInstruction {
        font-weight: 600;
        font-size: 0.8em;
        color: var(--brightest-color);
    }

    #detailInstruction {
        color: var(--brightest-color);
        font-weight: 300;
        font-size: 0.8em;
        margin: 1em 0 1em 0;
    }
}
