:root {
    --darkest-color: #262626;
    --brightest-color: #F6F6F6;
    --color-red: #FF595E;
    --color-yellow: #FFCA3A;
    --color-green: #8AC926;
    --color-blue: #1982C4;
  
}

#aboutPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    padding-top: 16vh;
}

.aboutTitle {
    font-size: 3vw;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#conoceTitle {
    color: var(--color-red);
}

#teamTitle {
    padding-top: 8vh;
    color: var(--color-yellow);
}

#instructionTitleAbout {
    padding-top: 8vh;
    color: var(--color-green);
}


.aboutParagraf {
    margin-top: 2vh;
    max-width: 70vw;
    font-size: 1.2vw;
    font-weight: 300;
    color: var(--brightest-color);
}

span > a {
    text-decoration: underline;
    font-weight: 300;
    color: var(--color-green);
}

.aboutEquations {
    width: 50vw;
}

#teamParagraf {
    width: 100%;
}

#loveParagraf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    
    position: relative;
    bottom: 0;

    width: 99vw;
    animation: changeText infinite 5s alternate;
    padding-bottom: 2vw;

    transition: all 300ms;
    

}

@keyframes changeText {
    0% {
        color: var(--color-red);
    }

    25% {
        color: var(--color-yellow);
    }

    50% {
        color: #8AC926;
    }

    75% {
        color: #1982C4;
    }

    100% {
        color: #F6F6F6;
    }
}

@media (max-width: 700px) {

    #aboutPage {
        padding-top: 4vh;
    }
    
    .aboutTitle {
        font-size: 7vw;
        font-weight: 700;
    }

    .aboutEquations {
        width: 90vw;
    }
    
    #conoceTitle {
        color: var(--color-red);
    }
    
    #teamTitle {
        padding-top: 2vh;
        color: var(--color-yellow);
    }
    
    .aboutParagraf {
        max-width: 80%;
        font-size: 2.5vw;
    }
    
    #teamParagraf {
        width: 100%;
    }
    
    #loveParagraf {
        font-size: 3vw; 
    
    }
}
